#scissors, #paper, #stone{
    - -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-text-fill: white;
}

#fountain {
    -fx-background-color: #BAA286;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#exit, #play {
    -fx-background-color: lightblue;
}
#scissors:hover, #paper:hover, #stone:hover {
    -fx-background-radius: 15;
    -fx-background-color: silver;
}
